*{
    margin: 0;
    padding:0;
}
body{
  font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
}
.darkbackground {
    height: 450px;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}
.whitebackground{
    height: 300px;
    padding: 20px; 
}
.whitebackground h2 {
    text-align: center;
}
.darkContentS1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.darkContentLeft .darkContentText p { 
    font-weight: lighter;
    margin-bottom: 15px; /* Adds space between button and text */
}

.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background: rgb(70, 86, 139);*/
    padding: 20px;
}
.headerLogo {
    font-size:24px;
    justify-content: left;
}
.headerLinks{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    justify-content: flex-end;
    align-items: center;
    display:flex;
    flex-direction: row;  
}
.headerLinks a {
    margin-right: 30px; /* Adjust the value as needed */
}
a {
    color: white;
    text-decoration: none; /* Optional: Removes underlines from links */
}
.darkContentLeft {
    flex: 1;
    word-wrap: break-word; 
    max-width: 400px; 
}
.greyBox {
    background-color: #E5E7EB; /* Set the background color to grey or any other color you prefer */
    padding: 20px; /* Add padding for spacing within the box */
    text-align: center; /* Center the text horizontally */
    color: #1F2937; /* Set text color to a contrasting color */
    height:125px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* The display: flex; property activates Flexbox layout, providing a flexible way to structure and align elements. In this case:
* justify-content: center; centers the content along the horizontal axis, ensuring it's horizontally centered within the container.
* align-items: center; centers the content along the vertical axis, ensuring it's vertically centered within the container.
    */
}
button {
    background-color: #3882F6; 
    color: white;
    padding: 8px 30px; /* Adjust the padding values for height and width */
    border: none;
    border-radius: 10px; 
    cursor: pointer;
}
.boxContainer {
    display: flex; /* Activates Flexbox layout */
    justify-content: space-around; /* This will space out the boxes evenly */
    align-items: center; /* This will vertically align items in the middle, if they have different heights */
  }
  
  .box{
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #3882F6;
    border-radius: 10px;
    text-align: center;
  }
.indContainer{
    
}
  .box p {
    margin: 0; /* Remove default margin for better alignment */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add spacing between the box and text */
}
.boxText {
    text-align: center;
    display: flex;
    flex: 1;
}

.boxText p {
    margin: 10px 0; /* Add some margin for spacing between text */
}

  .boxContent {

    }
  .greybackground {
    height: 150px;
    background-color: #E5E7EB; /* Set the background color to gray or any other color you prefer */
    padding: 40px; /* Add padding for spacing within the div */
    color: #1F2937; /* Set text color to white or a contrasting color */
}
.greyContent1 {
    word-wrap: break-word; /* Add this line for text wrapping */
    max-width: 350px; /* Adjust the value as needed */
    
    text-align: left;

}
.greyContent2 {

}
